.body {
  background-color: #000;
}

.section_hero {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.image {
  width: auto;
  height: 40%;
  position: absolute;
  inset: auto auto 0%;
}

.image-2 {
  width: 100%;
  height: 50%;
  position: absolute;
}

.hero_block {
  background-image: url('../images/bg_hero.png');
  background-position: 50% 100%;
  background-size: cover;
  border-radius: 20px;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
  height: 55%;
  display: flex;
  position: absolute;
  inset: auto;
}

.hippo_hero {
  z-index: 10;
  border-radius: 20px;
  width: 100%;
  position: relative;
}

.hero_logo {
  height: 40%;
  position: absolute;
  inset: 6.4% auto auto;
}

.overlay {
  z-index: 1500;
  opacity: .17;
  pointer-events: none;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: screen;
  background-image: url('../images/old.gif');
  background-position: 50%;
  background-size: 900px;
  background-clip: border-box;
  display: flex;
  position: fixed;
  inset: 0%;
}

.title {
  color: #ffc621;
  text-align: center;
  font-family: Bamboo, sans-serif;
  font-size: 33px;
  line-height: 33px;
  position: absolute;
  inset: auto auto 9%;
}

.socials {
  color: #000;
  background-color: #ffc621;
  border: 2px solid #856508;
  border-bottom-width: 5px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  margin: 0 10px 0 0;
  font-family: Maladroit, sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  position: static;
  inset: 0% auto auto 0%;
}

.socials:hover {
  border-top-width: 5px;
  border-bottom-width: 2px;
}

.block_socials {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  padding: 15px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto auto;
}

.section_about {
  background-color: #000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 0;
  display: flex;
}

.vynil {
  width: 350px;
}

.block_para {
  width: 650px;
  margin-top: 25px;
}

.para {
  color: #ffc621;
  text-align: center;
  text-transform: uppercase;
  font-family: Bamboo, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

.bold-text, .bold-text-2 {
  font-size: 13px;
  line-height: 13px;
}

.div-block {
  background-color: #262626;
  background-image: url('../images/bg_2.png');
  background-position: 50% 0;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 300px;
  margin-top: 157px;
  display: flex;
  transform: skew(0deg, 8deg);
}

.section_gallery {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 800px;
  padding-top: 80px;
  display: flex;
}

.image-3 {
  height: 150%;
}

.block_memes {
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  display: flex;
  position: relative;
}

.meme {
  border: 3px solid #000;
  border-bottom-width: 7px;
  border-radius: 17px;
  width: 350px;
  height: 350px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.h1 {
  color: #ffc621;
  text-align: center;
  text-transform: uppercase;
  font-family: Bamboo, sans-serif;
  font-size: 33px;
  line-height: 33px;
  position: static;
  inset: auto auto 9%;
}

.para2 {
  color: #ffc621;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Bamboo, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

.title2 {
  color: #ffc621;
  text-align: center;
  font-family: Bamboo, sans-serif;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  inset: auto auto 4%;
}

.name {
  color: #000;
  background-color: #0000;
  border: 1px #856508;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 45px;
  margin: 15px;
  font-family: Bamboo, sans-serif;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  position: absolute;
  inset: 0% auto auto 0%;
  overflow: visible;
}

.name:hover {
  border-top-width: 5px;
  border-bottom-width: 2px;
}

.bold-text-3 {
  color: #ffc620;
}

.ca {
  color: #000;
  background-color: #ffc621;
  border: 2px solid #856508;
  border-bottom-width: 5px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  margin: 0 10px 50px 0;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  position: static;
  inset: 0% auto auto 0%;
}

.ca:hover {
  border-top-width: 5px;
  border-bottom-width: 2px;
}

.ca_mobile {
  color: #000;
  background-color: #ffc621;
  border: 2px solid #856508;
  border-bottom-width: 5px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  margin: 0 10px 50px 0;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  line-height: 20px;
  display: none;
  position: static;
  inset: 0% auto auto 0%;
}

.ca_mobile:hover {
  border-top-width: 5px;
  border-bottom-width: 2px;
}

.buy {
  color: #000;
  background-color: #ffc621;
  border: 2px solid #856508;
  border-bottom-width: 5px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  margin: 0 10px 0 0;
  font-family: Maladroit, sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  position: static;
  inset: 0% auto auto 0%;
}

.buy:hover {
  border-top-width: 5px;
  border-bottom-width: 2px;
}

.section_welcome {
  z-index: 800;
  background-color: #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
}

.logo_welcome {
  width: 125px;
  height: auto;
}

.continue {
  color: #000;
  background-color: #ffc621;
  border: 2px solid #856508;
  border-bottom-width: 5px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  margin: 0 0 100px;
  font-family: Maladroit, sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  position: absolute;
  inset: auto auto 0%;
}

.continue:hover {
  border-top-width: 5px;
  border-bottom-width: 2px;
}

@media screen and (max-width: 991px) {
  .hero_block {
    width: 90%;
  }

  .hero_logo {
    height: 30%;
    top: 10.4%;
  }
}

@media screen and (max-width: 767px) {
  .block_para {
    width: 90%;
  }

  .ca {
    display: none;
  }

  .ca_mobile {
    display: flex;
  }

  .buy {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .socials {
    margin-left: 5px;
    margin-right: 5px;
  }

  .block_socials {
    width: 100%;
  }

  .div-block {
    height: 250px;
  }

  .image-3 {
    height: 130%;
  }

  .meme {
    width: 300px;
    height: 300px;
  }

  .name {
    display: none;
  }

  .continue {
    margin-left: 5px;
    margin-right: 5px;
  }
}


@font-face {
  font-family: 'Bamboo';
  src: url('../fonts/Bamboo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Maladroit';
  src: url('../fonts/maladroit.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}